# Text editors temporary files
*.sw[op]

# Python byte-code artifacts
*.py[cod]

# Dictionary artifacts
/pinyin
/zhuyin
/simplified
/traditional
/translation

# AUR packages
/[Zz]hudi*.src.tar.gz
zhudi.egg-info
MANIFEST

# Documentation artifacts
/doc/_build

.coverage
__pycache__

.idea
